:root {
    --box-shadow: inset 0 0 0 1px #dedddc, 0 0 16px 0 rgb(0 0 0 / 15%);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(217, 217, 217);
}

.sketch-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding-top: 50px;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: clamp(1rem, 5vw, 3rem);
}

.options-container {
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100vw;
    height: 100px;
    min-height: 100px;
    box-shadow: inset 0 0 0 1px #dedddc, 0 0 16px 0 rgb(0 0 0 / 15%);
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.sketch-container {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    grid-template-rows: repeat(16, minmax(0, 1fr));
    height: clamp(350px, 50vw, 525px);
    width: clamp(350px, 50vw, 525px);
    place-content: center;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: inset 0 0 0 1px #dedddc, 0 0 16px 0 rgb(0 0 0 / 15%);
}

.grid-square {
    content: '';
    background-color: white;
    transition: background-color 50ms ease-in-out;
    border: .5px solid rgb(217, 217, 217);
}

.clear-board {
    padding: 5px 10px;
    margin: 15px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
}

.clear-board:hover {
    background: rgb(230, 230, 230);
}

/* Color picker */

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 50px;
	height: 50px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    background: white;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 50%;
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    border: 1px solid gray;
    cursor: pointer;
}


.options button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.25rem;
    gap: .2rem;
}

.options .erase-button, .options .paint-button {
    font-size: 2rem;
}

.options .fa-cog {
    font-size: 2rem;
    transition: transform 200ms ease-in-out;
}

.options .fa-caret-down {
    font-size: 1.5rem;
    transition: transform 100ms ease-in-out;
}

.open-caret {
    transform: rotate(-180deg);
    transition: transform 100ms ease-in-out;
}

.open-cog {
    transform: rotate(90deg) !important;
    transition: transform 200ms ease-in-out !important;
}

.open-options {
    opacity: 1 !important;
    top: 100px !important;
    pointer-events: all !important;
    z-index: 1 !important;
    transition: opacity 200ms ease-in-out, top 200ms ease-in-out, z-index 300ms ease-in-out;
}

.options-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0px;
    background: white;
    padding: 10px;
    opacity: 1;
    width: 100vw;
    height: 75px;
    pointer-events: none;
    z-index: -3;
    transition: opacity 200ms ease-in-out, top 200ms ease-in-out;
}

.options-dropdown form {
    display: flex;
    align-items: center;
    padding: 0 25px;
}

.options-dropdown form input[type='radio']{
    margin-left: 15px;
}

label {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type='radio'] {
    appearance: none;
}

input[type='radio']:checked + label{
    background: black;
    color: white;
    transition: background 100ms ease-in-out, color 100ms ease-in-out;
}

.grid-settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid-lines-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 1 100px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 1px solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: black;
}

@media screen and (max-width: 600px) {
    .options-dropdown {
        flex-direction: column;
        gap: 15px;
        height: 100px;
    }
    .options i {
        font-size: 1.5rem;
    }

    .options {
        gap: 1.25rem;
    }

    .sketch-container {
        /* padding: 0; */
        margin-top: -125px;
    }
}